################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ASPMyBlog
/ModelBindingCalculator/.vs/ModelBindingCalculator/DesignTimeBuild/.dtbcache
/ASPdotNETBlog/.vs/ASPdotNETBlog/v15/Server/sqlite3/db.lock
