
@{
    ViewBag.Title = "Gallery";
}

<div id="wrapper">
    <div id="featured-wrapper">

        <div class="extra2 container">
            <div class="ebox1">
                <div class="title">
                    <h2>Gallery</h2>
                    <span class="byline">It's gonna be awesome</span>
                </div>                
            </div>
        </div>

    </div>
</div>

